/* Стили для заголовка */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Стили для списка файлов */
.downloads {
    max-width: 600px;
    margin: 0 auto;
}

.downloads h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.downloads ul {
    list-style: none;
    padding: 0;
}

.downloads li {
    margin-bottom: 10px;
}

.downloads a {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.downloads a:hover {
    background-color: #0056b3;
}

/* Стили для подвала */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}